{% extends 'book/base.html' %}

{% block main_area %}

{% if user.is_authenticated %}
{% if user.is_superuser or user.is_staff %}
<a class="btn btn-info btn-sm float-right" href="/book/create_book/" role="button">
    <i class="fas fa-pen"></i>&nbsp;&nbsp;New Book
</a>
{% endif %}
{% endif %}

<h1>Book
    {% if category %}
    <span class="badge badge-secondary">{{category}}</span>
    {% endif %}
    {% if tag %}
    <span class="badge badge-light">{{tag}}({{tag.book_set.count}})</span>
    {% endif %}
</h1>

<!-- Book post-->
<div class="container">
    <div class="card">
        {% if book_list.exists %}
        {% for b in book_list %}
        <div class ="row" id="book-{{b.pk}}">
            <div class="col-md-3 col-lg-3">
                <!-- 블로그 포스트 카드의 그림영역 -->
                <a href="#!">
                    {% if b.head_image %}
                    <img class="card-img-top" src="{{ b.head_image.url}}" alt="{{b}} head image"> <!-- pillow lib로 이미지.url 사용-->
                    {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{b.id}}/800/800" alt="random_image">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-9 col-lg-9">
                <!-- 블로그 글의 요약 부분-->
                <div class="card-body">
                    {% if b.category %}
                    <span class="badge badge-secondary float-right">{{b.category}}</span>
                    {% else %}
                    <span class="badge badge-secondary float-right">미분류</span>
                    {% endif %}
                    <div class="small text-muted">{{b.created_at}}</a></div>
                    <h2 class="card-title h4">{{b.title}}</h2>
                    {% if b.hook_text %}
                    <h5 class="card-text">요약문 : {{b.hook_text}}</h5>
                    {% endif %}
                    <div class="card-text">저자 : {{b.book_author}}</div>
                    <div class="card-text">출판정보 : {{b.publisher}}, {{b.release_date}}</div>
                    <div class="card-text">가격 : {{b.price}}</div>
                    <p class="card-text">내용 : {{b.content | truncatewords:45}}</p>

                    {% if b.tags.exists %}
                    <i class="fas fa-tags"></i><!-- fontawesome을 활용해 tag 아이콘 사용 -->

                    <!-- all 대신 iterator 사용 이유 -->
                    <!-- 결과를 재사용하지 않고, 메모리 문제를 일으킬 만한 많은 양의 데이터를 사용할 경우는 all() 대신 iterator()를 사용해야 한다. -->
                    {% for tag in b.tags.iterator %}
                    <!-- 태그 하이퍼링크 생성. 클릭하면 태그 페이지로 이동한다 -->
                    <a href="{{tag.get_absolute_url}}"><span class="'badge badge-pill badge-light">{{tag}}</span></a>
                    {% endfor %}
                    <br/><!-- 줄바꿈-->
                    <br/>
                    {% endif %}

                    <a class="btn btn-primary" href="{{b.get_absolute_url}}">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3>아직 게시물이 없습니다.</h3>
        {% endif %}
    </div>
</div>
<!-- Pagination-->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li><!-- Escape String-->
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>
{% endblock %}
