{% extends 'book/base.html' %}

{% block head_title %}
{{book.title}} - 도서목록
{% endblock %}

{% block main_area %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9">
            <div id = "book-area">
                <!-- Book category -->
                {% if book.category %}
                <span class="badge badge-secondary float-right">{{book.category}}</span>
                {% else %}
                <span class="badge badge-secondary float-right">미분류</span>
                {% endif %}
                <!-- Book content-->
                <article>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <!-- Preview image figure-->
                                <figure class="mb-4">
                                    {% if book.head_image %}
                                    <img class="img-fluid rounded" src="{{book.head_image.url}}" alt="{{book}} head image" />
                                    {% else %}
                                    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{book.id}}/800/800" alt="random_image">
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <!-- Book header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1">{{book.title}}</h1>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2">{{book.created_at}} by <a href="#">{{book.author}}</a></div>
                                    <div class="text-muted fst-italic mb-2">출판정보 : {{book.publisher}}, {{book.release_date}}</div>
                                    <div class="text-muted fst-italic mb-2">가격 : {{book.price}}</div>
                                    <!-- 로그인하고 로그인한 사용자와 글 작성자 일치여부 확인 -->
                                    <!-- 일치하면 버튼이 화면에 표시되고, 그렇지 않으면 보이지 않는다. -->
                                    {% if user.is_authenticated and user == book.author %}
                                    <a class="btn btn-info btn-sm float-right" href="/book/update_book/{{book.pk}}/" role="button">
                                        <i class="fas fa-pen"></i> Edit Book
                                    </a>
                                    {% endif %}
                                </header>
                            </div>
                            <!-- 요약문 출력 부분 -->
                            <!-- Book content-->
                            <section class="mb-5">{{book.get_content_markdown | safe}}</section>

                            {% if book.tags.exists %}
                            <i class="fas fa-tags"></i><!-- fontawesome을 활용해 tag 아이콘 사용 -->

                            <!-- all 대신 iterator 사용 이유 -->
                            <!-- 결과를 재사용하지 않고, 메모리 문제를 일으킬 만한 많은 양의 데이터를 사용할 경우는 all() 대신 iterator()를 사용해야 한다. -->
                            {% for tag in book.tags.all %}
                            <!-- 태그 하이퍼링크 생성. 클릭하면 태그 페이지로 이동한다 -->
                            <a href="{{tag.get_absolute_url}}"><span class="'badge badge-pill badge-light">{{tag}}</span></a>
                            {% endfor %}
                            <br/><!-- 줄바꿈-->
                            <br/>
                            {% endif %}

                            {% if book.file_upload %}
                            <a href="{{book.file_upload.url}}" class="btn btn-outline-dark" role="button" download>Download:

                                {% if book.get_file_ext == 'csv' %}
                                <i class="fas fa-file-csv"></i>
                                {% elif book.get_file_ext == 'xlsx' or book.get_file_ext == 'xls' %}
                                <i class="fas fa-file-excel"></i>
                                {% elif book.get_file_ext == 'docx' or book.get_file_ext == 'doc' %}
                                <i class ="fas fa-file-word"></i>
                                {% else %}
                                <i class ="fas fa-file"></i>
                                {% endif %}
                                {{book.get_file_name}}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}

