@media screen {
    body {
        //background: url('/static/single_pages/images/home_books.png') no-repeat center center fixed;
        background-color: #266c00;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

@media print {
    body{
        background: no;
    }
}

section {
    margin-top: 400px;
}

.card {
    background-color: rgba(0, 130, 50, 1);
}

a {
    color: inherit;
}